*{
    padding: 0;
    margin: 0;
}

.content {
    margin-left: 270px;
    padding: 20px;
}

.content {
    margin-left: 270px;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #ffffff;
    min-height: calc(100vh - 120px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
